.empty-result {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #a4aab5;
}
/* toc滚动到顶部的元素 */
/* .nextra-scrollbar > div > button {
  position: relative;
} */

.custom-table {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.custom-table thead tr {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.custom-table thead tr th {
  flex: 1;
  text-align: left;
  padding: 10px 0;
}

.custom-table thead tr th:last-child {
  flex: 2;
}

.custom-table tbody tr {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-table tbody tr td {
  flex: 1;
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
}

.custom-table tbody tr td:last-child {
  flex: 2;
}

.custom-table tbody tr td:first-child {
  color: #9159f0;
}
