.empty-result {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #a4aab5;
}

.nextra-scrollbar > div > button {
  position: relative;
}

.nextra-scrollbar > div > button::after {
  content: '';
  background-image: url('src/svgs/arrow.svg');
  position: relative;
  left: -3px;
  top: -2px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}
